.container {
  margin-top: 1.7rem;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("/images/hero.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img {
  object-fit: cover;
  overflow-clip-margin: content-box;
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.imgOverlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  z-index: 2;
}

.contentChildren {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 2rem;
  z-index: 3;
  height: 100%;
}

.left,
.right {
  z-index: 3;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 5rem;
}

.heading {
  color: var(--white);
}

.copy {
  color: var(--white);
  font-family: var(--barlowSemiCondensed);
  text-transform: uppercase;
  font-size: 2.4rem;
  letter-spacing: -0.5px;
  line-height: 105%;
}

.right {
  height: 100%;
  width: 100%;
}


@media screen and (max-width: 1068px) {
  .right {
    display: none;
  }
}

@media screen and (max-width: 870px) {

}

@media screen and (max-width: 568px) {
  .content {
    height: 90vh;
  }
}